# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [20]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [21]:
# Load in CSV
weather_data = pd.read_csv("../Weatherpy/Output/weather.csv")
weather_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Mahibadhoo,3.7833,72.9667,83.23,74,8,8.61,MV,1619292721
1,Puerto Ayora,-0.7393,-90.3518,80.60,78,75,9.22,EC,1619292723
2,La Santisima Trinidad,-14.8333,-64.9000,78.80,94,75,8.05,BO,1619292548
3,Nāmagiripettai,11.4667,78.2667,79.70,75,100,4.34,IN,1619292725
4,Muaná,-1.5283,-49.2167,84.36,72,29,4.94,BR,1619292728

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [59]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

# Store 'Lat' and 'Lng' into  locations 
locations = weather_data[["Lat", "Lng"]].astype(float)

# Store humidity for weight 
humidity = weather_data["Humidity"].astype(float)

In [62]:
#Generate map with heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, humidity)

fig.add_layer(heat_layer)

# Save figure 
plt.savefig("Images/heat_map.png")

# Show figure 
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [46]:
# Narrow cities to max temp between 70 and 80 degrees, wind speed < 10mph, and zero cloudiness. 
narrowed_df = weather_data[(weather_data['Max Temp'] >= 70) & (weather_data['Max Temp'] <= 80)]
narrowed_df_2 = narrowed_df[(narrowed_df['Wind Speed'] < 10)]
hotel_df = narrowed_df_2[(narrowed_df_2['Cloudiness'] == 0)]
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
207,Mossamedes,-15.1961,12.1522,78.91,76,0,7.67,AO,1619293035
240,Beitbridge,-22.2167,30.0000,73.76,28,0,7.78,ZW,1619293086
334,Vallenar,-28.5708,-70.7581,75.65,35,0,6.76,CL,1619293140
404,Behbahān,30.5959,50.2417,77.00,23,0,0.49,IR,1619293341
477,Karratha,-20.7377,116.8463,77.88,35,0,8.43,AU,1619293449
484,San Juan,-31.5375,-68.5364,73.67,26,0,9.37,AR,1619293314

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [50]:
# Create hotel dataframe and add hotel name column
pd.set_option('mode.chained_assignment',None)
hotel_df['Hotel Name'] = ""
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
207,Mossamedes,-15.1961,12.1522,78.91,76,0,7.67,AO,1619293035,
240,Beitbridge,-22.2167,30.0000,73.76,28,0,7.78,ZW,1619293086,
334,Vallenar,-28.5708,-70.7581,75.65,35,0,6.76,CL,1619293140,
404,Behbahān,30.5959,50.2417,77.00,23,0,0.49,IR,1619293341,
477,Karratha,-20.7377,116.8463,77.88,35,0,8.43,AU,1619293449,
484,San Juan,-31.5375,-68.5364,73.67,26,0,9.37,AR,1619293314,

In [51]:
# Base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Run a request to loop through rows and collect hotel name based on parameters
for index, row in hotel_df.iterrows():
    
    lat = row["Lat"]
    lng = row["Lng"]
    
    params = {
        "location": f"{lat},{lng}",
        "keyword": "hotel",
        "radius": 5000,
        "key": g_key
    }

    response = requests.get(base_url, params=params)
    hotels_data = response.json()
    
    try: 
        #print(results[0]['name'])
        hotel_df.loc[index,'Hotel Name'] = hotels_data['results'][0]['name']
    
    except:
        hotel_df.loc[index,'Hotel Name'] = ""
        #print("No hotel available... skipping.")
    
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
207,Mossamedes,-15.1961,12.1522,78.91,76,0,7.67,AO,1619293035,Hotel Chik Chik Namibe
240,Beitbridge,-22.2167,30.0000,73.76,28,0,7.78,ZW,1619293086,Beitbridge Express Hotel
334,Vallenar,-28.5708,-70.7581,75.65,35,0,6.76,CL,1619293140,Hotel Cecil
404,Behbahān,30.5959,50.2417,77.00,23,0,0.49,IR,1619293341,Esteghlal Hotel
477,Karratha,-20.7377,116.8463,77.88,35,0,8.43,AU,1619293449,Karratha International Hotel
484,San Juan,-31.5375,-68.5364,73.67,26,0,9.37,AR,1619293314,Hotel Viñas del Sol

In [52]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [53]:
# Create hotel label layer
hotel_layer = gmaps.symbol_layer(locations, fill_color='rgba(2, 150, 0, 0.4)', info_box_content=hotel_info)

fig = gmaps.figure()
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
# Create a combined map
fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

# Save figure 
plt.savefig("Images/hotel_map.png")

fig

Figure(layout=FigureLayout(height='420px'))